@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 238 0 238;
    --color-primary-hover: 255 61 255;
    --color-secondary: 213 215 213;
    --color-tertiary: 21 25 47;
  }
  @media (prefers-color-scheme: light) {
    :root {
      --color-primary: 238 0 238;
      --color-primary-hover: 255 61 255;
      --color-secondary: 21 25 47;
      --color-tertiary: 213 215 213;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 238 0 238;
      --color-primary-hover: 255 61 255;
      --color-secondary: 213 215 213;
      --color-tertiary: 21 25 47;
    }
  }
  [data-theme="light"] {
    --color-primary: 238 0 238;
    --color-primary-hover: 255 61 255;
    --color-secondary: 21 25 47;
    --color-tertiary: 213 215 213;
  }
  [data-theme="dark"] {
    --color-primary: 238 0 238;
    --color-primary-hover: 255 61 255;
    --color-secondary: 213 215 213;
    --color-tertiary: 21 25 47;
  }
  html {
    @apply bg-tertiary;
  }
  body {
    @apply max-w-[1440px] px-2 lg:mx-auto;
  }
  header {
    @apply fixed top-0 left-0 z-50 w-full bg-tertiary/20 backdrop-blur;
  }
  nav {
    @apply flex justify-between items-center gap-2 h-16 max-w-[1440px] mx-auto px-2;
  }
  main {
    @apply pt-16 pb-8;
  }
  section {
    @apply pt-3 pb-4 border-y border-y-primary;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold leading-none text-primary font-display;
  }
  h1 {
    @apply mb-2 text-5xl font-black uppercase sm:text-5xl md:text-6xl xl:text-7xl;
  }
  h2 {
    @apply mb-2 text-xl md:text-3xl;
  }
  h3 {
    @apply mb-2 text-base md:text-lg;
  }
  h4 {
    @apply p-0 mb-0 text-base font-normal tracking-wide font-displayCon md:text-lg;
  }
  h5 {
    @apply text-xs font-displayCon md:text-sm;
  } 
  h6 {
    @apply text-xs font-light font-displayCon md:text-sm text-primary;
  } 
  p {
    @apply mb-2 text-sm font-light tracking-wide font-body text-secondary md:text-base;
  }
  a {
    @apply  transition text-primary hover:text-hover;
  }
  p a {
    @apply font-medium font-displayCon;
  }
  hr {
    @apply my-2 text-primary;
  }
  ul {
    @apply w-full;
  }
  li {
    @apply w-full;
  }
  li a {
    @apply p-0 mb-0 text-2xl md:text-lg font-normal tracking-wide uppercase font-displayCon sm:text-base w-full;
  }
}

@layer components {
  .icon {
    @apply z-50 w-8 h-8 text-4xl transition cursor-pointer sm:w-6 sm:h-6 text-primary border-primary bg-none hover:text-hover;
  }
  .eventGrid {
    @apply grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6;
  }
  .imageGrid {
    @apply grid grid-cols-3 gap-2 md:grid-cols-4 lg:grid-cols-9;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #69e228;
  -webkit-box-shadow: 0 0 0px 1000px #1e293b inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: linear-gradient(transparent, #ee00ee, transparent);
}
