@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-secondary;
  }
  body {
    @apply max-w-6xl mx-2 lg:mx-auto;
  }
  nav {
    @apply fixed top-0 pt-4 flex justify-center items-center gap-2;
  }
  section {
    @apply flex flex-col w-full my-16;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-primary font-display font-bold;
  }
  h1 {
    @apply font-black text-5xl sm:text-5xl md:text-6xl xl:text-7xl uppercase mb-2;
  }
  h2 {
    @apply text-2xl md:text-3xl mb-2;
  }
  h3 {
    @apply text-lg md:text-xl mb-2;
  }
  h4 {
    @apply font-displayCon font-normal text-lg tracking-wide;
  }
  h5 {
    @apply font-displayCon font-light text-base;
  } 
  p {
    @apply font-body text-tertiary font-light tracking-wide mb-2;
  }
  a {
    @apply  text-primary hover:text-hover transition;
  }
  p a {
    @apply font-displayCon font-medium ;
  }
  img {
    @apply rounded md:rounded-md;
  }
  hr {
    @apply text-primary mb-1;
  }
}

@layer components {
  .icon {
    @apply text-secondary  border border-primary bg-primary hover:bg-hover transition text-4xl z-50 h-6 w-6 cursor-pointer rounded md:rounded-md;
  }
  .arrow {
    @apply border hover:text-secondary hover:bg-hover;
  }
  .close {
    @apply text-secondary hover:text-primary border border-primary bg-primary hover:bg-secondary;
  }
  .eventGrid {
    @apply grid grid-cols-3 md:grid-cols-6 gap-2;
  }
  .imageGrid {
    @apply grid grid-cols-5 md:grid-cols-4 lg:grid-cols-12 gap-2;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #69e228;
  -webkit-box-shadow: 0 0 0px 1000px #1e293b inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: linear-gradient(transparent, #ee00ee, transparent);
}
