---
import BaseLayout from "../layouts/BaseLayout.astro";

import * as about from "../content/about/about.md";
import { Content as Content } from "../content/about/about.md";
---

<BaseLayout>
  <section>
    <div class="grid text-left lg:gap-6 lg:grid-cols-3">
      <h2
        class="mt-1 text-sm sm:text-2xl lg:text-right col-span-2 sm:col-span-3 lg:col-span-1"
      >
        {about.frontmatter.description}
      </h2>
      <div class="col-span-2">
        <hr class="lg:hidden" />
        <h1>{about.frontmatter.title}</h1>
        <hr />
        <div class="grid sm:gap-6 sm:grid-cols-2">
          <Content />
        </div>
        <hr />
      </div>
    </div>
  </section>
</BaseLayout>
