---
import { getCollection } from "astro:content";
import Lightbox from "../components/Lightbox.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const event = await getCollection("events");
event.sort((b, a) => Date.parse(a.data.date) - Date.parse(b.data.date));
const images = [...new Set(event.map((event) => event.data.images).flat())];
---

<BaseLayout>
  <section>
    <Lightbox images={images} />
  </section>
</BaseLayout>
