---
import { getCollection } from "astro:content";
import Lightbox from "../components/Lightbox.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const events = await getCollection("events");
events.sort((b, a) => Date.parse(a.data.date) - Date.parse(b.data.date));
const images = [...new Set(events.map((event) => event.data.images).flat())];
---

<BaseLayout>
  <section class="min-h-screen flex items-center w-[90%] mx-auto">
    <Lightbox images={images} />
  </section>
</BaseLayout>
