---
import { Icon } from "astro-icon";
---

<div
  class="flex items-center h-full gap-3 sm:gap-1 sm:pl-3 sm:border-l sm:border-l-primary w-fit mx-auto"
>
  <a href="https://www.instagram.com/yes.no.klub/">
    <Icon name="tabler:brand-soundcloud" class="w-10 h-10 sm:w-7 sm:h-7 icon" />
  </a>
  <a href="https://www.instagram.com/yes.no.klub/">
    <Icon name="ion:social-instagram" class="w-7 h-7 sm:w-5 sm:h-5 icon" />
  </a>
  <a href="https://www.facebook.com/yesnoklubyk">
    <Icon
      name="ant-design:facebook-filled"
      class="rounded-full icon w-7 h-7 sm:w-5 sm:h-5"
    />
  </a>
  <a href="https://www.youtube.com/@yesnoklub">
    <Icon
      name="ion:logo-youtube"
      class="rounded-full icon w-7 h-7 sm:w-5 sm:h-5"
    />
  </a>
</div>