---
import { Icon } from "astro-icon";
---

<div
    class="flex items-center h-full gap-1 sm:pl-3 sm:border-l sm:border-l-primary w-fit mx-auto"
>
    <a href="https://www.instagram.com/yes.no.klub/">
        <Icon
            name="tabler:brand-soundcloud"
            class="w-10 h-10 sm:w-8 sm:h-8 icon"
        />
    </a>
    <a href="https://www.instagram.com/yes.no.klub/">
        <Icon name="ion:social-instagram" class="icon" />
    </a>
    <a href="https://www.facebook.com/yesnoklubyk">
        <Icon name="ant-design:facebook-filled" class="rounded-full icon" />
    </a>
</div>
