---
import { Icon } from "astro-icon";
---

<button
  class="z-50 h-7 ml-1 pl-3 border-l border-l-primary"
  data-theme-toggle
  aria-label="toggle theme"
  transition:persist="theme"
>
  <Icon name="bx:bxs-sun" class="h-7 w-7 sm:w-6 sm:h-6 icon" />
</button>

<script is:inline>
const themeToggles = document.querySelectorAll("[data-theme-toggle]");

const getTheme = () => localStorage.getItem("theme") || "dark";

const setTheme = (theme) =>
    document.documentElement.setAttribute("data-theme", theme);

window.addEventListener("DOMContentLoaded", () => setTheme(getTheme()));
document.addEventListener("astro:after-swap", () => setTheme(getTheme()));

themeToggles.forEach((toggle) => {
    toggle.addEventListener("click", () => {
        const nextTheme = getTheme() === "light" ? "dark" : "light";
        localStorage.setItem("theme", nextTheme);
        setTheme(nextTheme);
    });
});
</script>
