---
import "../styles/global.css";
import Base from "./Base.astro";
import { Icon } from "astro-icon";
---

<Base>
  <div slot="nav" class="flex gap-3 ml-auto uppercase">
    <h4 class="my-auto">
      <a href="/" target="_self">About</a>
    </h4>
    <h4 class="my-auto">
      <a href="/images" target="_self">Images</a>
    </h4>
    <h4 class="my-auto">
      <a href="/events" target="_self">Events</a>
    </h4>
    <div class="flex items-start h-full gap-1 pl-3 border-l border-l-primary">
      <a href="https://www.instagram.com/yes.no.klub/">
        <Icon name="tabler:brand-soundcloud" class="border-none icon" />
      </a>
      <a href="https://www.instagram.com/yes.no.klub/">
        <Icon name="ion:social-instagram" class="border-none icon" />
      </a>
      <a href="https://www.facebook.com/yesnoklubyk">
        <Icon name="carbon:logo-facebook" class="border-none icon" />
      </a>
    </div>
  </div>
  <slot />
</Base>
