---
import "../styles/global.css";
import Base from "./Base.astro";
---

<Base>
  <div slot="nav" class="flex gap-3">
    <a href="/"><h4>About</h4></a>
    <a href="/events"><h4>Events</h4></a>
    <a href="/images"><h4>Images</h4></a>
    <a href="/images"><h4>Others</h4></a>
    <a href="/images"><h4>Us</h4></a>
  </div>

  <main>
    <slot />
  </main>
</Base>
