---
import "../styles/global.css";
import Base from "./Base.astro";
---

<Base>
  <header>
    <nav>
      <img src="/ynk.svg" alt="" class="h-9 w-auto text-primary mr-2" />
      <a href="/"><h5>Home</h5></a>
      <a href="/events"><h5>Events</h5></a>
      <a href="/images"><h5>Images</h5></a>
    </nav>
  </header>
  <main>
    <slot />
  </main>
</Base>
