---
import "../styles/global.css";
import Base from "./Base.astro";
import Logo from "../components/Logo.astro";
import { Icon } from "astro-icon";
---

<Base>
  <nav slot="header" class="flex gap-3">
    <Logo />
    <a href="/"><h4>About</h4></a>
    <a href="/events"><h4>Events</h4></a>
    <a href="/images"><h4>Images</h4></a>
    <a href="/images"><h4>Others</h4></a>
    <a href="/images"><h4>Us</h4></a>
    <div class="ml-auto">
      <Icon name="ion:social-instagram" class="icon" />
    </div>
  </nav>
  <main>
    <slot />
  </main>
</Base>
