---
import Hamburger from "../components/Hamburger.astro";
import "../styles/global.css";
import Base from "./Base.astro";
import Sosmed from "../components/Sosmed.astro";
import Theme from "../components/Theme.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<Base>
  <div slot="nav" class="flex items-center">
    <Hamburger />
    <div
      class="absolute top-0 left-0 justify-center hidden w-full h-screen sm:flex sm:w-auto sm:h-auto sm:relative main-nav bg-tertiary/90"
    >
      <ul
        class="flex flex-col items-center justify-center sm:flex-row sm:gap-x-3 gap-y-6"
      >
        <li>
          <a class={currentPath === "" ? "active" : ""} href="/" target="_self">
            About
          </a>
        </li>
        <li>
          <a
            class={currentPath === "events" ? "active" : ""}
            href="/events"
            target="_self"
          >
            Events
          </a>
        </li>
        <li>
          <a
            class={currentPath === "images" ? "active" : ""}
            href="/images"
            target="_self"
          >
            Images
          </a>
        </li>
        <li>
          <Sosmed />
        </li>
        <li>
          <Theme />
        </li>
      </ul>
    </div>
  </div>
  <slot />
</Base>

<style>
  .active {
    @apply text-secondary;
  }
  .expanded {
    @apply flex;
  }
</style>
